body {
    font-family: Segoe UI, sans-serif;
    margin-top: 60px;
    background: #fafafa;
    transition: .3s;
}

/* Sections */
.section {
    padding: 80px 20px;
}

/* External class */
.external-highlight {
    background: #f1f3f5;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 20px;
}

/* Cards */
.project-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    transition: .4s;
}

.project-card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
}

/* Images */
.card-img-top {
    height: 180px;
    object-fit: cover;
}

/* Navbar */
.navbar {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
}

/* Forms */
form input,
form textarea,
form select {
    border-radius: 10px;
}

/* Footer */
footer {
    margin-top: 40px;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark p,
.dark h2,
.dark h5 {
    color: white;
}

.dark .external-highlight {
    background: #222;
}

.dark table {
    color: white;
}

.dark .project-card {
    background: #1e1e1e;
}

/* Toggle Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #ccc;
    border-radius: 34px;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: .3s;
}

input:checked+.slider {
    background: #0d6efd;
}

input:checked+.slider:before {
    transform: translateX(22px);
}